<h1>Profile</h1>
<%= form_for @profile do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
