<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= link_to root_path do %>
              <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          <% end %>
          </div>
          <div class="md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <%= link_to "Search", search_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
              <%= link_to "Matches", matches_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
              <%#= link_to likes_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" do %>
<!--                Likes-->
<!--                <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">-->
<!--                  1-->
<!--                </span>-->
              <%# end %>
            </div>
          </div>
        </div>
        <div class="md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <!-- Profile dropdown -->
            <div class="relative ml-3" x-data="{ dropdown: false }">
              <div>
                <button x-on:click="dropdown = ! dropdown" type="button" class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <%= image_tag current_user.profile.photo.file, class: "h-8 w-8 rounded-full" %>
                </button>
              </div>

              <div x-show="dropdown" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                <%= link_to "Search preferences", edit_search_preference_path(current_user.profile.search_preference), class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1" %>
                <%= link_to "Settings", edit_profile_path(current_user.profile), class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1" %>
                <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
